body {
  font-family: Roboto, Verdana, sans-serif;
  background-color: rgb(217, 224, 224);
 }
 
 .container {
   max-width: 600px;
   border-radius: 4px;
   background-color: white;
   margin-left: auto;
   margin-right: auto;
   margin-top: 150px;
   padding: 30px 20px;
 }

 .messages {
  max-height: 400px;
  overflow-y: scroll;
  list-style-type: none;
  margin: 0;
  padding: 0;
 }

 .message-item {
   position: relative;
   margin-left: 40px;
   margin-top: 15px;
 }

 .icon {
   position: absolute;
   height: 26px;
   left: -40px;
   top: 14px;
 }

 .message-date {
   font-size: 80%;
   margin: 0;
 }

 .message-text {
   margin-top: 3px;
 }
 
 h2 {
   margin: 0;
   padding: 0;
 }
 
 .header {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 30px;
 }
 
 button {
   background: #009688;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
   border-radius: 2px;
   border: none;
   color: white;
 }
 
 button:active {
   background: linear-gradient(0deg, rgba(189, 189, 189, 0.3), rgba(189, 189, 189, 0.3)), #009688;
   box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24), 0px 0px 8px rgba(0, 0, 0, 0.12);
 }

 
 .hidden {
   display: none;
 }

 .start {
   margin-top: 20px;
   padding: 5px 10px;
 }